<%- include("partials/header") %>

<header>
    <div>
        <img src="/kleshenger.png" alt="" width="150px" height="100px">
    </div>
    <div class="headings">
        <h2>Nettbutikk om klær.</h2>
    </div>
</header>